.about {
    margin-top: 50px;
}

.about-wrapper {
    display: flex;
    gap: 30px;
}

.about-block {
    padding: 40px 0 40px 40px;
    border: 1px solid var(--gayBlue);
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 8px;
}

.about-title {
    margin-bottom: 10px;
}

/**/

.why {
    margin-top: 100px;
}

.why-list {
    margin-top: 30px;
    display: flex;
    gap: 35px;
}

.why-list li {
    border-radius: 15px;
    background: var(--white);
    position: relative;
    padding: 40px 0;
    max-width: 390px;
    width: 100%;
}

.why-list li .subtitle {
    text-align: center;
}

.why-list li .desc {
    margin-top: 30px;
    text-align: center;
}

.why-list li:first-child .desc {
    padding: 0 68px 0 69px;
}

.why-list li:nth-child(2) .desc {
    padding: 0 53px 0 53px;
}

.why-list li:nth-child(3) .desc {
    padding: 0 47px 0 48px;
}

.why-circle {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: var(--dirtyWhite);
    top: -3px;
    left: -13px;
}

.why-circle div {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--white);
    border-radius: 50%;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: var(--blue);
}

/**/

.specialists {
    margin-top: 100px;
    padding: 50px 0;
    background-color: var(--white);
    box-shadow: 0 1px 10px 0 var(--gayBlue);
}

.specialists-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.specialists-content {
    max-width: 500px;
}

.specialists-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

/**/

.certificates {
    margin-top: 100px;
}

.certificates-list {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.certificates-list li {
    max-width: 400px;
    width: 100%;
    background: var(--white);
    border: 1px solid var(--gayBlue);
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    padding: 25px 36px 24px;
    display: flex;
    gap: 50px;
}

.certificates-list li img {
    width: 139px;
    height: 150px;
    background: #c4c4c4;
}

/**/


/**/



