.about {
    margin-top: 50px;
}

.about-wrapper {
    display: flex;
    gap: 30px;
}

.about-wrapper img {
    width: 570px;
}

.about-block {
    padding: 40px 0 40px 40px;
    border: 1px solid var(--gayBlue);
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 8px;
    width: 100%;
}

.about-title {
    margin-bottom: 10px;
}

/**/

.why {
    margin-top: 100px;
}

.why-list {
    margin-top: 30px;
    display: flex;
    gap: 35px;
}

.why-list li {
    border-radius: 15px;
    background: var(--white);
    position: relative;
    padding: 40px 0;
    max-width: 390px;
    width: 100%;
}

.why-list li .subtitle {
    text-align: center;
}

.why-list li .desc {
    margin-top: 30px;
    text-align: center;
}

.why-list li:first-child .desc {
    padding: 0 68px 0 69px;
}

.why-list li:nth-child(2) .desc {
    padding: 0 53px 0 53px;
}

.why-list li:nth-child(3) .desc {
    padding: 0 47px 0 48px;
}

.why-circle {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: var(--dirtyWhite);
    top: -3px;
    left: -13px;
}

.why-circle div {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--white);
    border-radius: 50%;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: var(--blue);
}

/**/

.specialists {
    margin-top: 100px;
    padding: 50px 0;
    background-color: var(--white);
    box-shadow: 0 1px 10px 0 var(--gayBlue);
}

.specialists-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.specialists-content {
    max-width: 500px;
}

.specialists-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    max-width: 501px;
    width: 100%;
}

/**/

.certificates {
    margin-top: 100px;
}

.certificates-list {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.certificates-list li {
    max-width: 400px;
    width: 100%;
    background: var(--white);
    border: 1px solid var(--gayBlue);
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    padding: 25px 36px 24px;
    display: flex;
    gap: 50px;
}

.certificates-list li img {
    width: 139px;
    height: 150px;
    background: #c4c4c4;
}

.mob {
    display: none;
}

@media screen and (max-width: 1440px) {

    .about-wrapper {
        gap: 46px;
        flex-wrap: wrap;
    }

    .about-wrapper img {
        width: 100%;
    }

    .about-block {
        padding: 40px 99px 40px 40px;
    }

    .about-text {
        margin-top: 0;
    }

    /**/
    .why {
        margin-top: 50px;
    }

    .why .container {
        max-width: 710px;
    }

    .why-title {
        padding-left: 21px;
    }

    .why-list {
        margin-top: 50px;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .why-list li {
        max-width: 340px;
        width: 100%;
    }

    .why-list li .subtitle {
        text-align: center;
    }

    .why-list li:first-child .desc {
        padding: 0 43px 0 44px;
    }

    .why-list li:nth-child(2) .desc {
        padding: 0 28px;
    }

    .why-list li:nth-child(3) .desc {
        padding: 0 22px 0 23px;
    }

    /**/
    .specialists {
        margin-top: 50px;
    }

    .specialists-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 50px;
        justify-content: space-between;
    }

    .specialists-wrapper img {
        width: 100%;
    }

    .specialists-content {
        max-width: none;
    }

    .specialists-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
        max-width: none;
        width: 100%;
    }

    .specialists-text:nth-child(2) {
        max-width: 663px;
    }

    /**/
    .certificates {
        margin-top: 50px;
    }

    .certificates-list {
        margin-top: 50px;
        display: flex;
        overflow: hidden;
        gap: 10px;
    }

}

@media screen and (max-width: 769px) {
    .about {
        margin-top: 20px;
    }

    .about-wrapper {
        flex-wrap: wrap;
        gap: 20px;
    }

    .about-block {
        padding: 20px 24px 20px 20px;
        gap: 20px;
        width: 100%;
    }

    .about-text {
        gap: 20px;
        margin-top: 0;
    }

    .about-block span {
        font-weight: normal;
    }

    .desk {
        display: none;
    }

    .mob {
        display: block;
    }

    /**/

    .why {
        margin-top: 50px;
    }

    .why-list {
        margin-top: 30px;
        gap: 20px;
    }

    .why .container {
        max-width: 360px;
    }

    .why-list li {
        padding: 28px 0;
        max-width: 340px;
        width: 100%;
    }

    .why-title {
        text-align: center;
        padding-left: 0;
    }

    .why-list li .desc {
        margin-top: 20px;
    }

    .why-list li:first-child .desc {
        padding: 0 43px 0 44px;
    }

    .why-list li:nth-child(2) .desc {
        padding: 0 28px;
    }

    .why-list li:nth-child(3) .desc {
        padding: 0 22px 0 23px;
    }

    .why-circle div {
        font-weight: 900;
    }

    .why-list .subtitle {
        font-weight: 900;
    }

    /**/

    .specialists {
        margin-top: 50px;
        padding: 30px 0;
    }

    .specialists-wrapper {
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 30px;
    }

    .specialists-content {
        max-width: 340px;
    }

    .specialists-content .title {
        text-align: center;
    }

    .specialists-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        max-width: 340px;
        width: 100%;
    }

    /**/

    .certificates {
        margin-top: 50px;
    }

    .certificates .title {
        text-align: center;
    }

    .certificates-list {
        margin-top: 30px;
        overflow: initial;
        display: flex;
        flex-wrap: wrap;
    }

    .certificates-list li {
        max-width: 348px;
        width: 100%;
        padding: 25px 20px 24px;
        display: flex;
        gap: 30px;
    }

}