.catalog {
    margin-top: 50px;
}

.first-filter__wrapper {
    display: flex;
    gap: 134px;
    align-items: center;
}

.first-filter {
    display: flex;
    gap: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    font-family: "Futura PT Book", sans-serif;
}

.first-filter__active {
    color: var(--orange);
    position: relative;
    font-weight: 900;
    font-family: "Futura PT",sans-serif;
}

.first-filter__active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--orange);
    bottom: -3px;
}

.catalog-items__wrapper {
    display: flex;
    margin-top: 50px;
    gap: 14px;
}

.catalog-items {
    margin-top: 0;
    flex-wrap: wrap;
    gap: 20px 13px;
}


.second-filter__wrapper {
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    background: var(--white);
    width: 300px;
}

.second-filter__title {
    font-weight: 900;
    font-size: 14px;
    line-height: 1;
    color: var(--blue);
    position: relative;
}

.second-filter__title::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 97px;
    height: 1px;
    background-color: var(--blue);
}

.second-filter {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    gap: 20px;
    font-family: "Futura PT Book", sans-serif;
}

.second-filter li {
    position: relative;
    padding-left: 15px;
}

.second-filter li::before {
    left: 0;
    content: "";
    width: 5px;
    height: 1px;
    background-color: var(--blue);
    position: absolute;
    top: 7px;
}

.second-filter__active {
    color: var(--orange);
}

.second-filter__active::before {
    background-color: var(--orange) !important;
}

@media screen and (max-width: 1440px) {
    .catalog {
        margin-top: 37px;
    }

    .first-filter__wrapper {
        flex-direction: column;
        align-items: normal;
        gap: 57px;
    }

    .catalog-items {
        gap: 30px;
    }

    aside {
        display: none;
    }
}