.delivery {
    margin-top: 50px;
}

.delivery-wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.delivery-wrapper img {
    width: 570px;
}

.delivery-block {
    margin-top: 8px;
    border-radius: 15px;
    border: 1px solid var(--gayBlue);
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    background: var(--white);
    padding: 40px 60px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.delivery-desc {
    line-height: 1;
    color: var(--blue);
    max-width: 526px;
}

.delivery-subtitle {
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
}

.delivery-list {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    font-family: "Futura PT Book", sans-serif;
}

.delivery-list li {
    padding-left: 25px;
    position: relative;
}

.delivery-list li::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 5px;
    background: var(--black);
    border-radius: 50%;
}

.delivery-list li:nth-child(5) {
    color: var(--orange);
    margin-top: 14px;
}

.delivery-list li:nth-child(5):before {
    background: var(--orange);
}

.delivery-list li:nth-child(6) {
    margin-top: 14px;
}

.delivery-list li:nth-child(7) {
    margin-top: 14px;
}

.delivery-list li:nth-child(8) {
    color: var(--blue);
    margin-top: 14px;
}

.delivery-list li:nth-child(8):before {
    background: var(--blue);
}

.payment {
    margin-top: 50px;
}

.payment-wrapper {
    display: flex;
    gap: 30px;
}

.payment-block {
    border: 1px solid var(--gayBlue);
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    background: var(--white);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    font-family: "Futura PT Book", sans-serif;
}

.payment-block:first-child {
    max-width: 570px;
    padding-bottom: 47px;
}

.payment-left img {
    width: 570px;
}

.payment-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.payment-left__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
}

.payment-right__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
}

.payment-left__list {
    color: var(--blue);
}

.payment-left__list li {
    position: relative;
    padding-left: 25px;
}

.payment-left__list li::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 5px;
    background: var(--blue);
    border-radius: 50%;
}

.payment-left__desc {
    display: flex;
    flex-direction: column;
}

.payment-left__desc span {
    color: var(--blue);
}

.change-goods {
    color: var(--blue);
}

.change-list {
    display: flex;
    flex-direction: column;

}

.change-list li {
    position: relative;
    padding-left: 21px;
}

.change-list li::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 5px;
    background: var(--black);
    border-radius: 50%;
}

.change-docs p {
    position: relative;
    padding-left: 21px;
}

.change-docs p:before {
    content: "";
    position: absolute;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 5px;
    background: var(--black);
    border-radius: 100%;
}

.change-connect {
    position: relative;
    padding-left: 21px;
}

.change-connect:before {
    content: "";
    position: absolute;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 5px;
    background: var(--black);
    border-radius: 100%;
}

.change-call {
    margin-top: 14px;
}

.change-call span {
    color: var(--blue);
}

.change-list:nth-child(3) {
    margin-top: 14px;
}

.mob {
    display: none;
}

@media screen and (max-width: 1440px) {
    .delivery {
        margin-top: 30px;
    }

    .delivery-wrapper {
        flex-wrap: wrap;
    }

    .delivery-wrapper img {
        width: 100%;
    }

    .delivery-block {
        margin-top: 0;
        padding: 40px 85px 40px 40px;
    }

    .payment {
        margin-top: 20px;
    }

    .payment-wrapper {
        flex-wrap: wrap;
    }

    .payment-block:first-child {
        max-width: none;
        width: 100%;
        padding-bottom: 40px;
    }

    .payment-left img {
        width: 100%;
    }

    .payment-left {
        gap: 30px;
    }

    .desk {
        display: none;
    }

    .mob {
        display: block;
    }

    .change-docs p {
        position: relative;
        padding-left: 21px;
    }

    .change-docs p:before {
        content: "";
        position: absolute;
        left: 7px;
        top: 4px;
        width: 5px;
        height: 5px;
        background: var(--black);
        border-radius: 100%;
    }

    .change-connect {
        position: relative;
        padding-left: 21px;
    }

    .change-connect:before {
        content: "";
        position: absolute;
        left: 7px;
        top: 4px;
        width: 5px;
        height: 5px;
        background: var(--black);
        border-radius: 100%;
    }

    .change-call {
        margin-top: 14px;
    }

    .change-call span {
        color: var(--blue);
    }
}

@media screen and (max-width: 769px) {
    .delivery {
        margin-top: 20px;
    }

    .delivery-wrapper {
        gap: 20px;
        justify-content: center;
    }

    .delivery-wrapper img {
        width: 100%;
    }

    .delivery-block {
        margin-top: 0;
        padding: 20px;
        gap: 20px;
        width: 340px;
    }

    .delivery-desc {
        max-width: 307px;
        font-weight: 400;
        font-size: 12px;
    }

    .delivery-subtitle {
        font-weight: 900;
        font-size: 16px;
        line-height: 1.125;
    }

    .delivery-list {
        font-size: 12px;
    }

    .delivery-list li {
        padding-left: 18px;
        position: relative;
    }

    .payment {
        margin-top: 20px;
    }

    .payment-block {
        padding: 20px;
        font-size: 12px;
    }

    .payment-block:first-child {
        max-width: 340px;
        padding-bottom: 20px;
    }

    .payment-left img {
        width: 100%;
    }

    .payment-left {
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .payment-left__title {
        font-weight: 900;
        font-size: 16px;
        line-height: 1.125;
    }

    .payment-right__title {
        font-weight: 900;
        font-size: 16px;
        line-height: 1.125;
    }

    .payment-left__list li {
        position: relative;
        padding-left: 18px;
    }

    .change-list li {
        position: relative;
        padding-left: 18px;
    }

    .change-docs p {
        position: relative;
        padding-left: 18px;
    }

    .change-connect {
        position: relative;
        padding-left: 18px;
    }

    .mob {
        display: block;
    }

    .change-docs {
        max-width: 300px;
    }
}