.main {
    margin-top: 50px;
}

.main-wrapper {
    display: flex;
    gap: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 8px;
}

.main-block {
    padding: 40px 0 40px 40px;
    border: 1px solid var(--gayBlue);
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-block .title {
    margin-bottom: 10px;
}

.term {
    margin-top: 100px;
}

.main-subtitle {
    text-align: center;
    line-height: 0.66667;
}

.term-lists {
    display: flex;
    margin: 50px auto 0;
    gap: 200px;
    line-height: 1;
    justify-content: center;
}

.term-lists li {
    padding-left: 20px;
    position: relative;
}

.term-lists li::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 6px;
    width: 5px;
    height: 5px;
    background: var(--black);
    border-radius: 50%;
}

.attention {
    margin-top: 100px;
    padding: 40px;
    border: 1px solid var(--gayBlue);
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    background: var(--white);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: "Futura PT Book",sans-serif;
}

.attention span {
    color: var(--orange);
}

.conditions {
    margin-top: 100px;
    border: 1px solid var(--gayBlue);
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 var(--gayBlue);
    background: var(--white);
    padding: 50px 0;
}

.conditions-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conditions .title {
    line-height: 0.66667;
}

.conditions-content {
    max-width: 542px;
}

.conditions-desc {
    margin-top: 50px;
}

.conditions-content .desc span {
    color: var(--orange);
}

.conditions-list {
    margin-top: 30px;
}